{% extends "base.html" %} {% load static %} {% block css_app %}
<link rel="stylesheet" href="{% static 'movies/css/detail.css' %}" />
{% endblock %} {% block content %}

<div class="movie-detail-container">
  <!-- Poster -->
  <div class="movie-poster">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" />
  </div>

  <!-- Information -->
  <div class="movie-info">
    <h2 class="movie-title">
      {{ movie.title }}
      <span>({{ movie.release_date|slice:":4" }})</span>
    </h2>

    <div class="movie-meta">
      <p><strong>Release Date :</strong> {{ movie.release_date }}</p>
      <p><strong>Status : </strong> {{ movie.status }}</p>
      <p><strong>Language : </strong> {{ movie.original_language|upper }}</p>
      <p><strong>Duration : </strong> {{ movie.runtime }} min</p>
      <p><strong>Director : </strong> {{ movie.director }}</p>
      <p><strong>Producer : </strong> {{ movie.producer }}</p>
      <p><strong>Rating : </strong> {{ movie.vote_average|floatformat:1 }}</p>
    </div>
  </div>

  <!-- Trailer -->
  {% if movie.trailer_id %}
  <div class="trailer">
    <h3>Trailer</h3>
    <iframe width="600" height="320" src="https://www.youtube.com/embed/{{ movie.trailer_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
    <p>
      <a class="yt-button" href="https://www.youtube.com/watch?v={{ movie.trailer_id }}" target="_blank"> Watch on YouTube </a>
  </div>
    </p>
  {% endif %}

<!-- Synopsis -->
  <div class="overview">
    <h3>Synopsis:</h3>
    <p>{{movie.overview}}</p>
  </div>
  <div class="cast-section">
    <h3>Top Cast</h3>
    <div class="cast-list">
      {% for c in movie.cast_full %}
      <a href="/horrorgraphy/?name={{c.name}}&id={{c.id}}">
      <div class="cast-card">
        {% if c.photo %}
        <img src="{{ c.photo }}" alt="{{ c.name }}" />
        {% else %}
        <div class="no-photo">No Image</div>
        {% endif %}
        <p class="cast-name">{{ c.name }}</p>
      </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <!-- Gallery -->
  <div class="gallery">
  <h3>Scene Gallery</h3>
  <div class="gallery-list">
    {% for s in movie.scenes %}
    <div class="gallery-item">
        <img class="scene-img" src="https://image.tmdb.org/t/p/w780{{ s.file_path }}">
     </div>
        {% endfor %}
  </div>
</div>

<!-- Similar Movies -->
{% if similar_movies %}
<div class="similar-section">
  <h3>Similar Movies</h3>

  <div class="movie-list">
    {% for sm in similar_movies %}
   <a href="/movie/{{sm.id}}/" class="similar-card">
    <div class="poster-wrapper">
        {% if sm.poster_full %}
        <img src="{{ sm.poster_full }}" alt="{{ sm.title }}">
        {% else %}
        <div class="no-poster">No Image</div>
        {% endif %}
        <h6 class="poster_name">{{ sm.title }}</h6>
        <span class="rating">⭐ {{ sm.vote_average|floatformat:1 }}</span>
    </div>
  </a>
    {% endfor %}
  </div>
  </div>
  {% endif %}
</div>

{% endblock %}
