{% extends "base.html" %} {% load static %}
<!-- css -->
{% block css_app %}
<link rel="stylesheet" href="{% static 'browse/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'analyst/css/styles.css' %}" />
{% endblock %}
<!-- End of CSS  -->
<!-- Content Analyst -->
{% block content %}
<div class="insight">
  <div class="banner base">
    <h3>Data Insight of Horror Movies</h3>
    <p>{{subtitle}}</p>
  </div>
  <div class="analyst">
    <div class="chart">
      <h5>1. Movies Released Per Year</h5>
      <img class="base" src="data:image/png;base64,{{ graph1 }}" width="500" />
    </div>
    <div class="chart">
      <h5>2. Top Rated Horror Movies (Votes > 500)</h5>
      <img class="base" src="data:image/png;base64,{{ graph2 }}" width="500" />
    </div>
    <div class="chart">
      <h5>3. Indonesia Horror Movies Release per Year</h5>
      <img class="base" src="data:image/png;base64,{{ graph3 }}" width="500" />
    </div>
    <div class="chart">
      <h5>4. Popularity vs Vote Average (Top 1000 Most Popular Movies)</h5>
      <img class="base" src="data:image/png;base64,{{ graph4 }}" width="500" />
    </div>
    <div class="chart">
      <h5>5. Vote Count vs Vote Average (Top 1000 Most Popular Movies)</h5>
      <img class="base" src="data:image/png;base64,{{ graph5 }}" width="500" />
    </div>
  </div>
  <div class="conclution base">
    <h6>Insight:</h6>
    <ol>
      <li>Jumlah produksi film horror baik di Indonesia maupun di dunia cenderung meningkat setiap tahun, menandakan genre horror adalah genre yang akan tetap terus diminati</li>
      <li>Dilihat dari pola yang terbentuk, dapat disimpulkan bahwa film yang populer belum tentu memiliki skor yang bagus</li>
      <li>Juga pola menjunjukan bahwa film-film yang memiliki banyak votes belum tentu juga memiliki skor yang bagus</li>
    </ol>
  </div>
</div>
{% endblock %}
<!-- End of Content Analyst -->
