/* Banner Browse  */
.browse {
  padding: 30px;
}

.browse h2,
.browse p {
  text-align: center;
  color: #00f5e1;
  font-family: "Ethnocentric";
}

.browse h2 {
  font-size: 50px;
  text-shadow: 0 0 2px #00ffe0, 0 0 12px #00fff2;
}

.browse p {
  font-size: 20px;
  color: #00ffd9;
}

/* End of Banner Browse  */

/* Filter */

.filter {
  border: 1px solid #00f5e1;
  padding: 30px 60px;
  color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.form-movie {
  display: grid;
  grid-template-areas:
    "name name name name"
    "country lang ratingmovie sort";
  gap: 10px;
}

.name {
  grid-area: name;
}

.country {
  grid-area: country;
}

.lang {
  grid-area: lang;
}

.ratingmovie {
  grid-area: ratingmovie;
}
.sort {
  grid-area: sort;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
#rating,
#sorted,
#release,
#lang {
  width: 100%;
  background-color: thistle;
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 10px;
}

#submit {
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 20px auto;
  font-size: larger;
  text-align: center;
}
/* End of Filter */

/* Gallery Movie */
.gallery-movie {
  color: white;
  text-align: center;
}
/* End of Gallery Movie */
