{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/logo_mdb.png' %}" alt="logo" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Menu kiri -->
      <div class="navbar-nav ms-auto me-5">
        <a class="nav-link active" href="{% url 'app_movies:movies' %}">🏠︎Home</a>
        <a class="nav-link" href="{% url 'app_browse:browse' %}">🔎Browse</a>
        <a class="nav-link" href="{% url 'app_hgraphy:hgraphy' %}">💀Horrorgraphy</a>
        <a class="nav-link" href="{% url 'app_analyst:analyst' %}">📊Analyst</a>
      </div>

      <!-- Search bar kanan -->
      <div class="nav-search" style="position: relative">
        <input id="movieSearchInput" type="search" placeholder="🔍Search movies..." aria-label="Search movies" autocomplete="off" />
        <div id="searchResults" role="listbox" aria-labelledby="movieSearchInput" class="search-dropdown" hidden></div>
      </div>
    </div>
  </div>
</nav>
